@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.gradient {
    background: linear-gradient(140deg, rgba(91, 203, 233, 1) 0%, rgba(107, 160, 221, 1) 20%, rgba(117, 136, 235, 1) 31%, rgba(154, 91, 199, 1) 42%, rgba(228, 111, 240, 1) 69%, rgba(240, 111, 141, 1) 82%, rgba(217, 178, 114, 1) 100%);

    &--text {
        background: radial-gradient(circle farthest-corner at center center, #5BCBE9 0%, #6BA0DD 20%, #7588EB 31%, #9A5BC7 42%, #E46FF0 69%, #F06F8D 82%, #D9B272 100%);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}